#rowTwoColOne {
    padding: 40px 50px 50px 60px ;
}
#homeTitle{
    font-size: 320%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
}
#footerMessage{
    font-size: 150%;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: #000000; font-weight: bold;
    font-style: italic;
}